:root {
    --clr-primary: rgba(59, 66, 72, 1);
    --clr-ele-blue: rgba(0, 34, 238, 1); 
    --clr-ele-indOrange : rgba(255, 119, 34, 1);
    --ff-primary: poppins, sans-serif;
    --ff-sec: acumin-pro, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: overlay;
}

body {
    font-family:var(--ff-primary);
    -webkit-font-smoothing: antialiased;
}

div{
    display: block;
}

/* .appWrapper {
    outline: none;
    width: 100vw;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 14px;
} */

/* @media screen and (min-width: 1280px) {
    .appWrapper {
        padding: 0 80px;
    }
}

@media screen and (min-width: 1024px) {
    .appWrapper {
        padding: 0 40px;
    }
}

@media screen and (min-width: 600px) {
    .appWrapper {
        padding: 0 60px;
    }
} */

.container {
    outline: none;
    width: 100vw;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 14px;
}

.mainBox {
    display:grid;
}

.contentbox {
    background-color: #CCE8E2;
    border-radius: 20px;
}